
body {
    background-image: url("background.png");
    background-size: cover;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #e4d9d7;
    color: #4f4949;
    padding: 90px;
    border: 1px solid #fff; /* add border */
    border-radius: 10px; /* add rounded corners */
  }
  
  h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2323bf;
  }
  
  label {
    font-size: 18px;
    color: #333;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    border: none;
    background-color: #fff;
    color: #4f4949;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  select {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  button {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    width: 100px;
    border: none;
    background-color: #0ac9e2;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #008599;
    border: 1px solid #ccc; /* add border */
    border-radius: 5px; /* add rounded corners */
    padding: 10px;
    background-color: #fff; /* white background */
  }
  